body {
  margin:0;
  background: #1E1E1E;
  color: #bbbfc0;
  font-family: 'DM Sans', system-ui, sans-serif;
}

.app_layout{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 52px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height: 100vh;
}

/* Main Header Bar (this is the main bar where I will display the title and the about button)*/ 
.app_header{
  grid-area: header;
  background: #4E5356; /* Colour from figma design*/
  border-bottom: 1px solid #5d6066;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.app-header h1 {
  font-family: 'Fraunces', serif;
  font-size: 15px;
  font-weight: 600;
  color: #e8edf5;
}

